{% extends 'base.html' %}

{% block montitre %}
debut de mes mots: bienvenue dans airport oracle
{% endblock %}
{% block content %}
<h1># flight-at-first-sight</h1>
{% for x in users | reverse %}
 <li>{{ x["first_name"]  }}</li>

{% endfor %} 
fin de mes mots : rencontre des nouvelles personnes /regarde des photos et devine si la photo de la rencontre était un oracle pour lavenir.
{% endblock %}
{% block liens %}
<a href="/">welcome</a>
{% endblock %}
<a href="/add_one_airport"> add one airport</a><a href="/add_one_user"> add one user</a><a href="/add_one_musical_genre"> add one musical_genre</a><a href="/add_one_artist_composer_or_band"> add one artist_composer_or_band</a><a href="/add_one_photos"> add one photos</a><a href="/add_one_musicalinstrument"> add one musicalinstrument</a><a href="/add_one_person"> add one person</a><a href="/add_one_photoshavepeople"> add one photoshavepeople</a><a href="/add_one_country"> add one country</a><a href="/add_one_city"> add one city</a>